body {
    background-color: #ffffff;
    min-height: 100vh;
    display: grid;
    font-size: 1.3em;
    letter-spacing: 0.6px;
    line-height: 1.5;
    word-spacing: 1.4px;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 200px 1fr 100px;
    grid-template-areas: "aside header" "aside main" "aside footer";
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

header {
    grid-area: header;
    background: linear-gradient(140deg, rgba(53, 1, 136, 0.363), rgb(255,255,255), rgba(13, 175, 80, 0.534));
}

header>button {
    display: none;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 2;
    cursor: pointer;
    color: gray;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 2px solid gray;
    font-weight: bolder;
    font-size: 1.2em;
    line-height: 10px;
}

button:focus {
    outline: 0;
    background-color: rgba(255, 255, 255, 0.514);
}

header>button>i {
    margin: auto;
}

header>img {
    width: 300px;
    height: auto;
    margin: 20px auto 0;
    display: block;
    cursor: pointer;
}

.team-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.work-image {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
}

aside {
    grid-area: aside;
    background-color: rgb(32, 30, 30);
    position: fixed;
    width: 160px;
    height: 100vh;
    color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside>span {
    flex: 0.08;
    margin: 30px 10px;
}

section {
    grid-area: main;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

.card {
    display: none;
    flex: 0.5;
    /* background-color: rgb(255, 255, 255); */
    /* box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7); */
}
.titleCard {
    min-width: 100%;
    min-height: 400px;
    /* flex: 1; */
    background-size: cover;
    background-position: center;
    margin-bottom: 70px;
}

.teamCard {
    max-width: 30%;
    min-width: 320px;
    flex: 0.3;
}

.teamCard>h1 {
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 1.2em;
    font-weight: 900;
}

.card>h3 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin: 30px;
    font-weight: 700;
    font-size: 2em;
}
.titleCard>h3 {
    position: relative;
    top: 308px;
    color: rgb(58, 54, 53);
    border-bottom: none;
    margin:0 0 10px;
    padding: 0 0 0 100px;
    font-weight: 900;
    font-size: 3em;
    background-color: rgba(221, 221, 221, 0.452)
}
.card>p {
    margin: 30px;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 64, 64, 0.79);
    color: #bcbcbc;
    font-size: 0.7em;
}
#main>.titleCard {
    background-image: url('./images/sunset.jpg');    
}
#about>.titleCard {
    background-image: url('./images/background2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
#story>.titleCard {
    background-image: url('./images/atlantic.jpg');
}

#team>.titleCard {
    background-image: url('./images/pineapple.jpg');
}

/* #team>.card:nth-child(2) {
    min-width: 95%;
} */
#projects>.titleCard {
    background-image: url('./images/interior.jpg');
}
#projects>.card:nth-child(2) {
    min-width: 95%;
}

#services>.titleCard {
    background-image: url('./images/services.jpeg');
}
#contact>.titleCard {
    background-image: url('./images/background1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.pointer {
    cursor: pointer;
    padding: 10px 0 0 10px;
}


.blind {
    display: none;
}

.drawerDiv {
    display: none;
    position: relative;
    left: -10px;
}

.drawerDiv>p {
    padding: 10px 0 10px 10px;
    min-width: 130px;
}

.drawerDiv>p:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

nav {
    display: none;
    z-index: 2;
    position: relative;
    background-color: white;
    grid-area: main;
}

* {
    box-sizing: border-box;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 0.8em;
    font-family: sans-serif;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color:rgb(0, 189, 90);
    font-weight: bold;
    font-family:'raleway', sans-serif;
    letter-spacing: 2px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: rgb(59, 1, 172);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
    margin: 0 0 0 30px;
}

.col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 950px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
    .teamCard {
        min-width: 44%;
    }
    .titleCard>h3 {
        font-size: 2em;
        padding-left: 30px;
        top: 338px
    }
    #contact>.card {
        min-width: 80%;
    }
}
@media screen and (max-width: 950px) {
    .titleCard>h3 {
        font-size: 2em;
        padding-left: 30px;
        top: 278px;
    }
    .col-25, .col-75 {
        width: 100%;
        margin-top: 0;
    }
    input[type=text], input[type=submit], textarea {
        width: 90%;
        margin: auto;
        display: block;
        float: none;
    }
    .card {
        min-width: 95%;
    }
}

@media screen and (max-width: 650px) {
    body {
        grid-template-areas: "header header" "main main" "footer footer";
    }
    header {
        display: flex;
        justify-content: center;
    }
    header>span {
        display: none;
    }
    header>button {
        display: flex;
        justify-content: center;
    }
    header>img {
        flex: 0.5;
        float: none;
    }
    aside {
        display: none;
    }
    .card>h3 {
        font-size: 1.6em;
    }
    .titleCard {
        min-height: 200px;
        padding: 0;
        margin: 0;
    }
    .titleCard>h3 {
        font-size: 1.2em;
        padding-left: 30px;
        top: 125px;
    }
    
}
