body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 50px 1fr 80px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas:
    "header header nav"
    "aside content content"
    "footer footer footer";
}

header {
    grid-area: header;
    display: grid;
    background-color: beige;
    align-items: center;
}

header h1>a {
    font-size: 2em;
    color: black;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

nav{
    grid-area: nav;
    cursor: pointer;
}
.dropdown {
    display: grid;
    background-color: beige;
    align-content: center;
    justify-content: center;
    font-size: 1.5em;
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 250ms ease-in;
}
.dropdown:hover {
    background-color: lightgray;
}
.dropdown-content {
    position: absolute;
    top: 50px;
    font-size: 0.8em;
    z-index: 1;
    display: none;
}
.dropdown-content p {
    color: black;
    padding: 10px 5px;
}

.dropdown-content p:hover {
    background-color: lightgrey;
}

footer {
    grid-area: footer;
    display: grid;
    justify-content: center;
    align-content: center;
}

aside {
    grid-area: aside;
}

main {
    grid-area: content;
}