body {
    background-image: url('./images/sunset.jpg');
    background-attachment: fixed;    
    min-height: 100vh;
    display: grid;
    font-size: 1.3em;
    letter-spacing: 0.6px;
    line-height: 1.5;
    word-spacing: 1.4px;
    /* overflow: auto; */
    grid-template-columns: 120px 1fr;
    grid-template-rows: 150px 1fr 80px;
    grid-template-areas: 
    "header header"
     "aside main" 
     "footer footer";
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
}
header {
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.548);
    border-bottom: 1px solid black;    
}

header>span {
    content: '';
    background-color: black;
    padding: 130px 60px;
}

header>button {
    position: relative;
    z-index: 2;
    display: none;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 40px;
    color: gray;
    height: 50px;
    width: 50px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 15px;
    border: 1px solid gray;
    font-weight: bolder;
    font-size: 2em;
    line-height: 10px;
}
button:focus {
    outline:0;
    background-color: rgba(255, 255, 255, 0.514);    
}
header>button>span {
    position: relative;
    bottom: 20px;
}

header>img {
    width: 300px;
    height: 100%;
    float: right;
    cursor: pointer;
}

.team-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: auto;
}

aside {
    grid-area: aside;
    background-color: black;
    position: fixed;
    width: 120px;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid black;
}

aside>span {
    flex: 0.1;
    padding: 20px 0 20px 5px;
    margin: 20px 0;
}

section {
    grid-area: main;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.card {
    display: none;
    flex: 0.8;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.883);
/*     border: 1px solid black; */
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
}
.teamCard {
    max-width: 30%;
    min-width: 320px;
}

.teamCard>h1 {
    text-align: center;
    margin: 5px 0 0 0;
}

.card>h3 {
    border-bottom: 1px solid black;
    margin: 30px;
}

.card>p {
    margin: 30px;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.733);
    border-top: 1px solid black;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

#mission {
    background-image: url('./images/atlantic.jpg');
    background-position: left;
}

#team {
    background-image: url('./images/pineapple.jpg');
    background-attachment: fixed;
    align-items: flex-start;
}

#projects {
    background-image: url('./images/interior.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;    
}

#services {
    background-image: url('./images/services.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.pointer {
    cursor: pointer;
    padding: 10px 0 0 10px;    
}

.blind {
    display: none;
}

.drawerDiv {
    display: none;
    position: relative;
    left: -10px;
}

.drawerDiv>p {
    /* border: 1px solid black; */
    padding: 10px 0 10px 10px;
    min-width: 100%;
}

.drawerDiv>p:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

nav {
    display: none;
    position: relative;
    background-color: white;
    grid-area: main;
}

@media screen and (max-width: 500px) {
    body {
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    }
    header {
        display: flex;
        justify-content: center;
    }
    header>span {
        display: none;
    }
    header>button {
        display: block;
        position: absolute;
        left: -10px;
        top: 0px;
    }
    header>img {
        flex: 0.5;
        float: none;
    }
    aside {
        display: none;
    }
}
